.code,.code-c,.code-vb,.code-js,.code-css,.code-html,.code-sql {
background: url(images/bgcode.gif);
border: 1px solid #F0F1F3;
color: #555;
font: normal 14px "Lucida Sans Unicode",serif;
margin-bottom: 0px;
padding: 8px 10px;
white-space:pre;
overflow-x:scroll;
overflow-y:hidden;
width:450px;
}


.code-c,.code-vb
{
    border-bottom: solid 0px #5C80B1;
    border-left: 6px solid #5C80B1;
}

.code-css
{
    border-bottom: 1px solid #5cb164;
    border-left: 6px solid #5cb164;
}

.code-html
{
    border-bottom: solid 0px #b15c5c;
    border-left: 6px solid #b15c5c;
}

.code-js
{
    border-bottom: 1px solid #babbb3;
    border-left: 6px solid #babbb3;
}

.code-sql
{
    border-bottom: 1px solid #b17a5c;
    border-left: 6px solid #b17a5c;
}


.quote {
background: url(images/quote-2.gif) no-repeat;
color: #555;
display: block;
font: normal 14px "Lucida Sans Unicode",serif;
padding-left: 28px;
margin:0px 0px 30px 0px;
}

.quote .qauthor {
color: #5C80B1;
display: block;
font: normal 12px "Lucida Sans Unicode",serif;
}



.poem .poemtitle { color: #5C80B1;	font: normal 16px "Lucida Sans Unicode",serif; padding:0px 0px 5px 0px }

.poem .poemtext {
background: url(images/quote-1.gif) no-repeat;
color: #555;
display: block;
font: normal 14px "Lucida Sans Unicode",serif;
padding-left: 22px;
white-space:pre;
}

.poem .poemtext .poemend {
background: url(images/quote-2.gif) no-repeat;
padding-right: 28px;
height:15px;
width:20px;
display:inline;
}

.poem .poet {
color: #5C80B1;
display: block;
font: normal 12px "Lucida Sans Unicode",serif;
padding:5px 0px 0px 0px;
}

div.samples-top{
    padding: 5px;
    color: #000000;
}

div.samples-top  p.lstitle{
    color : Red;
    font-weight: bold;
    font-size: 16px;
}

div.samples-top a{
    color : #0066cc;
    font-weight: bold;
    text-decoration: none;
}

div.samples-top a:hover{
    color : #cc0000;
    text-decoration: underline;
}

div.samples-bottom{
}

div.samples-bottom  p.lstitle{
    color : Red;
    font-weight: bold;
}

div.samples-bottom a{
    color : #0066CC;
    font-weight: bold;
    text-decoration: none;
}

div.samples-bottom a:hover{
    color : #cc0000;
    text-decoration: underline;
}

.tryit-cs, .tryit-vb, .tryit-css, .tryit-js, .tryit-html, .tryit-sql{
    text-align: right;
    font-size: 110%;
    font-family:Arial;
    font-weight:bolder;
    padding: 8px 10px;
    width: 450px;
    height: 23px;
    overflow: hidden;
}

.tryit-cs {
    /*background-color: #5C80B1;*/
    background-color: #e7e7e7;
    border: 1px solid #d4d0c8;
    border-top: 0px;
    border-left: 6px solid #e7e7e7;
}

.tryit-vb {
    background-color: #5C80B1;
    border-left: 6px solid #5C80B1;
}

.tryit-html {
    background-color: #b15c5c;
    border: 1px solid #b15c5c;
    border-left: 6px solid #b15c5c;
}

.tryit-css {
    background-color: #5cb164;
    border: 1px solid #5cb164;
    border-left: 6px solid #5cb164;
}

.tryit-js {
    background-color: #babbb3;
    border: 1px solid #babbb3;
    border-left: 6px solid #babbb3;
}

.tryit-sql {
    background-color: #b17a5c;
    border: 1px solid #b17a5c;    
    border-left: 6px solid #b17a5c;
}

.tryit-cs a, .tryit-vb a, .tryit-css a, .tryit-js a, .tryit-html a, .tryit-sql a {
    color: #ffffff;
    display: block;
    background-color: #0066cc;
    width: 150px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    clear: both;
}

.tryit-cs a:hover, .tryit-vb a:hover, .tryit-css a:hover, .tryit-js a:hover, .tryit-html a:hover, .tryit-sql a:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #cc0000;
}