body {
	color: #444444;
	font-family: Verdana;
	font-size: 12px;
	margin: 0 auto;
	width: 100%;
	position: relative;
}

h1 {
	font-size: 15px;
	letter-spacing: 1px;
}

h2 {
	font-size: 13px;
}

a {
	text-decoration: none;
    color:#0066CC;
}

a:hover {
    color: #cc0000;
	text-decoration: underline;
}

img {
	border: none;
}

.clear {
    clear:both;
}

.left {
    float:left;
}

.right{
    float:right;
} 
.dotLine {
    border-bottom : dashed 1px #c2c2c2;
    line-height:2px;
    display:block;
    clear:both;
    margin-bottom:5px;
    margin-top :2px;
}

.topHeading
{
    font-family:Arial Black;
    font-size:18px;
    color:#7fa6cd;
    line-height:28px;
    text-transform:capitalize;
    background:url(images/topHeading.jpg) no-repeat center;
    padding-left:10px;
}

.lowerHeading
{
    font-family:Verdana;
    font-size:20px;
    color:#abab9f;
    line-height:20px;
    text-transform:capitalize;
    margin-bottom:10px;
    margin-top:10px;
}

.categoryDescription 
{
    padding:4px;
    border-top:dashed 1px #c2c2c2;
    margin-top:2px;
}

.container
{
    width:986px;
    margin:0 auto;
}


#orangeLine
{
    background-color : #f6ca26;
    line-height: 1px;
    height : 1px;
    overflow:hidden;
    width:100%;
    margin: 0px auto 0px auto;
}

#navcrumbs 
{
   width:986px;
   margin:0 auto;
   margin-bottom:15px;
}

#navpanel {
	float: left;
	width: 180px;
}

#content {
	float: left;
	width: 490px;
	margin-right: 6px;
	margin-left: 8px;
}

#sidepanel {
	float: right;
	width: 300px;
}

.loginbox{
	margin: 0 auto;
}

#postnavigation{
	margin-bottom: 10px;
	text-align: center;
	color: Gray;
	background: white;
	border: 1px solid silver;
	padding: 3px;
}


/*----------------------------
					 Posts
----------------------------*/

div.post {
	padding-bottom: 7px;
}

div.post, .mceContentBody {
	margin-bottom: 20px;
	background-color: white;
	line-height: 17px;
}

div.post h1, .mceContentBody h1 {
	margin: 5px 0 0 0;
}

div.post .title {
	border-top:solid 1px #dde2e6;
	background-color: #f6f6f7;
	padding:2px;
	clear:both;
}

div.post .titletext {
	font-size : 14px;
	font-weight: bold;
	width:400px;
	float:left;
}

div.post .ptitle h1
{
    color:#000000;
	font-size : 18px;
	font-weight: bold;
	line-height: 20px;
	padding:0px 2px 0px 3px;
	margin: 0px;
	clear:both;
}



div.post .title a{
	color: #4c96bc;
	text-transform:capitalize;
	text-decoration : none;
}

div.post .author {
	color: #6e6e61;
	font-size: 10px;
	float: left;
	text-transform: capitalize;
	clear:both;
	margin-top:1px;
}

div.post .author a
{
   color: #6e6e61;
   text-decoration : none;
}

div.post .pauthor {
	color: #000000;
	font-size: 10px;
	float: left;
	text-transform: capitalize;
	clear:both;
	padding-left:3px;
}

div.post .pauthor a
{
   color: #555555;
   text-decoration : none;
}


div.post .pubDate {
	color: #6e6e61;
	font-size: 10px;
	float: right;
}

div.post .text {
	margin-top: 0px;
	/*color:#6e6e61;*/
	color:#555555;
	clear:both;
	font-size:13px;
}

div.post .text h2 {
	margin-bottom: -10px;
}

div.post .text h3 {
	font-size: 11px;
	margin-bottom: -10px;
	padding: 0;
}

div.post .ptext h1, div.post .ptext h2, div.post .ptext h3, div.post .ptext h4, div.post .ptext h5, div.post .ptext h6, div.post .ptext h7{
    /*color:#4c96bc;*/
    color: #000000;
}

div.post .ptext {
	margin-top: 10px;
	/*color:#262525;*/
	color:#555555;
	clear:both;
	font-size:13px;
}

div.post .footer {
	text-align: left;
	padding-top: 0px;
	padding-bottom: 2px;
	font-size:10px
}

div.post .bottom {
	margin-bottom: 45px;
}

div.post .categories {
	margin-bottom: 5px;
	float: left;
	color: #868639;
}

div.post .categories a{
	color: #868639;
	text-decoration : none;
}

div.post .tags {
	float: left;
	margin-bottom: 0px;
	color:#333;
	font-size:12px;
	/*color: #5e82db;*/
}

div.post .tags a{
	/*color: #262525;*/
	/*color:#4c96bc;*/
	color:#333;
	text-decoration:none;
    font-size:12px;
}

.postStart{ border-bottom:dashed 1px #e1dfd6; height:5px; overflow:hidden; width:100%;}
.postEnd{ border-bottom:solid 5px #e1dfd6; height:5px; overflow:hidden; width:100%;}

/***********************
Next Previous Links
***********************/
.NextPreviousLinks
{
    padding: 1px 5px 2px 5px; 
    overflow: hidden;
    width: 480px; 
    margin-top: 12px; 
    -margin: 0px auto;
    background-color: #f0f1f3;
    border: dashed 1px #999999;
    border-left:0;
    border-right:0;
}
.nextLink,.previousLink,a.nextLink,a.previousLink
{
    font-size: 14px;
    font-weight:bold;
    text-decoration:none;
    color:#cc0000;
}
a.nextLink:hover,a.previousLink:hover
{
    text-decoration: underline;
    color: #ff0000;
}


/*----------------------------
			Related Posts
----------------------------*/
.relatedContainer
{
    margin:15px 0px 5px 0px;
    /*padding:7px 15px 7px 15px;*/
    width:490px;
    float:left;
}

ul#relatedPostsList1{
    margin : 0px;
    padding: 0px;
}
.relatedBorder 
{
    margin:0px;
    padding:0px 0px 5px 0px;
    border-bottom:solid 1px #cccccc;
}
ul#relatedPostsList1 li{
	list-style: none;
	margin-bottom : 5px;
	padding: 0px 6px 0px 4px;
	margin-top : 5px;
	line-height : 19px;
	-height : 19px;
	font-family: Arial;
	font-size:16px;
	letter-spacing:1px;
	font-weight:bold;
	background-color: #f9f9f9;
}

ul#relatedPostsList1 li.relatedTitle1 {
	color:#333333;
	font-size: 18px;
    font-weight:bold;
    text-align:left;
    padding:0px;
    margin:0px;
    border-bottom: solid 1px #cccccc;
    width: 490px;
    -width: auto;
    /*background-image:url(images/dot-line.jpg);
	background-position:bottom;
	background-repeat:repeat-x;*/
	line-height:16px;
	background-color: #ffffff;
}

ul#relatedPostsList1 li span.relatedPrefixTitle1 {
    color:#333333;
    font-size: 16px;
}

ul#relatedPostsList1 li span.categorySeparator 
{
    font-weight:normal;
}

ul#relatedPostsList1 a{
	/*color: #4c96bc;*/
	color: #0066cc;
	text-decoration :none;
	text-align:left;
}

ul#relatedPostsList1 a:hover{
    text-decoration: underline;
    color: #cc0000;
}

.topics{
    background: url(images/ct.jpg) no-repeat center;
    background-color: #D7D7CB;
    color : #fff;
    font-family: Arial Black;
    font-size : 160%; 
    text-align: center;
    line-height: 25px;
    -height:25px;
}

.relatedEdge {
    border: solid 1px #cccccc;
    border-top: 0px;
}

ul#relatedPostsList{
    margin : 0px;
    padding:0px;
}

ul#relatedPostsList li{
	list-style-type: disc;
	vertical-align: middle;
	margin-bottom : 2px;
	margin-top : 2px;
	line-height : 19px;
	-height : 19px;
	padding-left: 0px;
	margin-left: 18px;
	padding-right:6px;
	font-family: Verdana;
	font-size:12px;
}

ul#relatedPostsList li.relatedTitle {
    /*background: url(images/ct.jpg) no-repeat center;
    background-color: #D7D7CB;*/
    list-style: none;
    color : #333;
    font-size : 98%;
    font-weight: bold;
    padding:5px 0px 0px 5px;
    margin:0px;
    font-family:Arial;
}

ul#relatedPostsList li.relatedPrefixTitle {
    font-weight:bold;
    font-size : 98%;
    color: #333;
    margin:0px;
    padding:5px 0px 0px 5px;
    font-family:Arial;
    list-style: none;
}

ul#relatedPostsList li.relatedColor1 {
    /*background-color: #F0F0E7;*/
}

ul#relatedPostsList li.relatedColor2 {
    /*background-color:#f0f1f3;*/
}

ul#relatedPostsList li.relatedLast1 
{
    /*background-color: #F0F0E7;
    background: url(images/cb1.jpg) no-repeat center bottom;*/
}

ul#relatedPostsList li.relatedLast2 
{
    /*background-color:#f0f1f3;
    background: url(images/cb2.jpg) no-repeat center bottom;*/
}

ul#relatedPostsList li a{
	color: #555555;
	text-decoration :none;
}

ul#relatedPostsList li a:hover{
    text-decoration: underline;
}    

ul#relatedPostsList li span{
	display: block;
	text-indent: 10px;
	text-transform: none;
}
/*----------------------------
				Recent posts
----------------------------*/

ul#recentPostsList{
	list-style-type:disc;
	padding:0px;
	margin:0px 0px 0px 15px;
	padding-top:15px;
	color:#97999D;
}

ul#recentPostsList li{
	padding:7px 0px 7px 0px;
	background-image:url(images/dot-line.jpg);
	background-position:bottom;
	background-repeat:repeat-x;
	line-height:20px;
}

ul#recentPostsList li.recentTitle
{
    font-weight:bold;
    font-family:Verdana;
    font-size:14px;
	color:#555555;
	border-bottom:solid 2px #f0f1f3;
	background:none;
	padding:0px;
	margin:0px 0px 0px -15px;
	padding-bottom: 5px;
	list-style:none;
}

ul#recentPostsList li a
{
    font-weight: lighter;
    color:#005288;
	text-decoration :none;
}
/*----------------------------
				Categories List
----------------------------*/
ul#categoryList{
    margin : 0px;
    padding:0px;
    border-top: solid 1px #F0F0E7;
}

ul#categoryList li{
	list-style: none;
	margin-bottom : 2px;
	margin-top : 2px;
	line-height : 19px;
	-height : 19px;
	padding-left:6px;
	padding-right:6px;
	font-family: Arial;
	font-size:12px;
}

ul#categoryList li.categoryTitle {
    /*background: url(images/ct.jpg) no-repeat center;
    background-color: #D7D7CB;*/
    color : #555555;
    font-family:Arial;
    font-size : 160%;
    padding:0px 0px 0px 5px;
    line-height:25px;
    margin:0px;
    -height:25px;
    display: none;
}

ul#categoryList li.categoryColor1 {
    /*background-color: #F0F0E7;*/
}

ul#categoryList li.categoryColor2 {
    /*background-color:#f0f1f3;*/
}

ul#categoryList li.categoryLast1 {
    /*background-color: #F0F0E7;
    background: url(images/cb1.jpg) no-repeat center;*/
}

ul#categoryList li.categoryLast2 {
    /*background-color: #f0f1f3;
    background: url(images/cb2.jpg) no-repeat center;*/
}

ul#categoryList li a{
	font-weight: bold;
	color: #555555;
	text-decoration :none;
}

ul#categoryList li a:hover{
    text-decoration: underline
}

ul#categoryList li span{
	display: block;
	text-indent: 10px;
	text-transform: none;
}

/*----------------------------
			Recent comments
----------------------------*/

ul.recentComments li{
	padding-bottom: 10px;
	text-transform: none;
}

ul.recentComments li a.postTitle{
	font-weight: bold;
}

/*----------------------------
			Social bookmarks
----------------------------*/

.bookmarks {
	float: left;
}

/*----------------------------
					Comments
----------------------------*/

.commentError
{
    color:Red;
    font-weight:bold;
    padding:5px;
    padding-left:0px;
}
.comment {
	background-color: white;
	margin-bottom: 10px;
	padding-top:20px;
}

.commentAuthor
{
    font-weight:bold;
    text-transform:capitalize;
}

.commentArrow1
{
    background:url(images/arrow1.jpg) no-repeat left;
    margin-left:35px;
    height:16px;
    width:25px;
    line-height:16px;
    display:block;
}
    
.commentArrow2
{
    background:url(images/arrow2.jpg) no-repeat left;
    margin-left:35px;
    height:16px;
    width:25px;
    line-height:16px;
    display:block;
}

.commentBox1
{
     background-color:#f0f0e7;
     padding:4px;
     overflow-x: auto;
}

.commentBox2
{
    background-color:#f1f2f6;
    padding:4px;
    overflow-x: auto;
}

.commentForm {
	padding: 5px 5px 0px 0px;
	color:#999999;
}

.commentFormTitle
{
    font-weight:bold;
    color:#444444;
    font-size:18px;
    padding:0px 0px 5px 0px;
    border-bottom:solid 1px #cccccc;
}

.commentForm label {
	float: left;
	display: block;
	width: 80px;
	margin-top: 4px;
}

.commentForm .input {
	width: 300px;
	border:1px solid #999999;
}

.commentForm .textarea {
	width: 100%;
	height: 150px;
	border:1px solid #999999;
}
.submit
{
     background-image:url(images/submit.jpg);
     background-position:center;
     background-repeat:no-repeat;
     width:90px;
     height:29px;
     border:0;
     cursor:pointer;
     color:White;
     font-weight:bold;
     padding-bottom:3px;
     -padding:0px;
}

.shout
{
     background-image:url(images/email.jpg);
     background-position:left;
     background-repeat:no-repeat;
     height:23px;
     border:0;
     cursor:pointer;
     line-height:23px;
     font-size:18px;
     padding-left:25px;
     text-decoration:none;
}

.mail {cursor : pointer}

a.shout,a.shout:hover {text-decoration:none;}

#commentMenu{
	padding: 0;
	margin:0;
	clear:both;
}

#commentMenu li{
	float:left;
	border:1px solid silver;
	border-bottom: transparent;
	margin:0;
	list-style:none;
	margin-right:5px;
	padding: 3px 8px;	
	cursor:pointer;
	position:relative;
	top: 2px;
	background:#d8d8d8;
}

#commentMenu li.selected{
	background:white;
	border-bottom:1px solid white;
}

#commentPreview{
	display:none;
	clear:both;
	min-height: 150px;
}

.success {
	color: green;
	font-weight: bold;
}

.commentForm .bbcode {
    font-size:10px;
    float:right;
    position:relative;
    top:20px;
    padding: 3px;
}

.bbcode a {
    margin: 1px;
    padding: 1px 3px 1px 3px;
    background: #fff;
    border: 1px solid #ccc;
}

/*----------------------------
					Archive
----------------------------*/

#archive {
	background-color: white;
	border: 1px solid silver;
	padding: 10px;
}

#archive h1 {
	margin: 0;
	border-bottom: 1px dashed silver;
	padding-bottom: 9px;
}

#archive h2 {
	border-bottom: 1px solid silver;
	padding-bottom: 4px;
	font-size: 12px;
	margin-bottom: 10px;
}

#archive h2 img {
	margin-right: 3px;
}

#archive ul {
	list-style-type: square;
	margin: 0 10px;
	padding: 10px;
}

#archive ul li {
	margin-right: 20px;
}

#archive table{
	width: 100%;	
	border-collapse: collapse;
}

#archive table td, #archive table th{
	text-align:left;
}

#archive table td{
	text-align:left;
	border-bottom: 1px solid #D8D8D8;
	padding: 2px 0;
}

#archive .date{
	width: 70px;
}

#archive .comments{
	width: 70px;
	text-align: center;
}

#archive .rating{
	width: 70px;
	text-align: center;
}

/*----------------------------
					 Search
----------------------------*/

#searchbox {
	margin-top: 5px;
	font-size: 10px;
}

#searchbox input {
	font-size: 10px;
}

#searchbox #searchbutton {
	margin-left: 5px;
}

#searchbox #searchfield {
	width: 180px;
}

/*----------------------------
			Search on search
----------------------------*/

#searchonsearch {
	background: white;
	padding: 5px 10px;
	margin-bottom: 20px;
	border: 1px solid silver;
}

#searchonsearch h3 {
	margin: 3px;
	font-size: 13px;
}

#searchonsearch ol li {
	margin: 2px 0;
}

/*----------------------------
				Month list
----------------------------*/

ul#monthList{
	font-weight: bold;
}

ul#monthList ul li{
	margin-left: 20px;
	font-weight: normal;
}

ul#monthList li.year{
  cursor: pointer;
}

ul#monthList ul{
	display: none;
}

ul#monthList ul.open{
	display: block;
}

/*----------------------------
				 Tag cloud
----------------------------*/

.tagcloud {
	margin-bottom: 10px;
	white-space: normal;
}

.tagcloud li {
	display: inline;
}

.tagcloud a {
	margin-right: 3px;
	display: inline;
}

.tagcloud a.biggest {
	font-size: 19px;
}

.tagcloud a.big {
	font-size: 17px;
}

.tagcloud a.medium {
	font-size: 14px;
}

.tagcloud a.small {
	font-size: 12px;
}

.tagcloud a.smallest {
	font-size: 10px;
}

/*----------------------------
					 Page
----------------------------*/

#page {
	border: 1px solid silver;
	padding: 3px 10px;
	margin-bottom: 20px;
	background-color: white;
	line-height: 17px;
}

#page h1 {
	margin: 3px 0 10px 0;
}

#page #admin {
	border-top: 1px solid silver;
	margin-top: 10px;
	padding: 5px 0;
}

/*----------------------------
					 Calendar
----------------------------*/

#calendarContainer {
	text-transform: capitalize;
	margin: 0 auto;
}

.calendar {
	border: none;
	margin: 0 auto;
}

.calendar .weekend {
	background-color: #F1F1F1;
}

.calendar .other {
	color: silver;
}

.calendar a.exist {
	display: block;
	font-weight: bold;
	background-color: #F1F1F1;
}

.calendar td {
	vertical-align: top;
	background: white;
}

/*********** Rating ************/
.rating
{
    margin-top:-15px;
    width:250px;
    font-weight:bold;
    padding-bottom:10px;
}

.rating-label
{
    width:120px;
    float:left;
    line-height:12px;
    color: #5e82db;
    font-size:10px;
}
.rating-stars
{
    width:130px;
    float:left;
}

.star-rating ul
{
    list-style:none;
    display:inline;
    margin:0;
    padding:0;
    height:12px;
    line-height:12px;
    overflow:hidden;
}
.star-rating li
{
    list-style:none;
    display:inline;
}

.star-rating
{
    background-image:url(images/DisabledStar.gif);
    width:60px;
    height:12px;
    line-height:12px;
    margin:0;
    padding:0;
    overflow:hidden;
    position: relative;
    background-position: left top;
    
}

.star-rating a
{
    background-image:url(images/DisabledStar.gif);
    height:12px;
    line-height:12px;
    margin:0;
    padding:0;
    overflow:hidden;
    top:0;
    left:0;
    position: absolute;
    outline:none;
    text-decoration : none;
}

.star-rating a.current-star
{
   background-image:url(images/OneStar.gif);
   
}

.star-rating a.half-star
{
   background-image:url(images/HalfStar.gif);
}


.star-rating a:hover, .star-rating a:active, .star-rating a:focus 
{
    background-image:url(images/HoverStar.gif);
	background-position:left;
    position:absolute;
    left:0;
    z-index:1;
}


.star-rating a.star-1
{
    width:20%;
    z-index:6;
    text-decoration : none;
}

.star-rating a.star-1:hover
{
    z-index:16;
    text-decoration : none;
}

.star-rating a.star-2
{
    width:40%;
    z-index:5;
    text-decoration : none;
}

.star-rating a.star-2:hover
{
    z-index:16;
    text-decoration : none;
}


.star-rating a.star-3
{
    width:60%;
    z-index:4;
    text-decoration : none;
}

.star-rating a.star-3:hover
{
    z-index:17;
    text-decoration : none;
}

.star-rating a.star-4
{
    width:80%;
    z-index:3;
    text-decoration : none;
}

.star-rating a.star-4:hover
{
    z-index:18;
    text-decoration : none;
}


.star-rating a.star-5
{
    width:100%;
    z-index:2;
    text-decoration : none;
}

.star-rating a.star-5:hover
{
    z-index:19;
    text-decoration : none;
}  


/*----------------------------
				Search page
----------------------------*/

#searchpage{
	margin-bottom: 30px;
}

#searchpage input#q{
	width: 300px;
}

#searchpage input#comment{
	clear: both;
}

.searchresult{
	margin-bottom: 20px;
}

.searchresult a{
	font-weight: bold;
}

.searchresult span.text{
	clear: both;
	display: block;
	margin: 3px 0;
}

.searchresult span.type{
	display: block;
}

.searchresult span.url{
	color: Gray;
}

.searchpage ul.paging{
 list-style-type: none;
 margin:0px;
 margin-bottom: 20px;
 padding:0px;
}

.searchpage ul.paging li{
 display: inline;
 border: 1px solid gray; 
 background: #f1f1f1;
 margin-right: 5px;
}

.searchpage ul.paging li a{
 padding: 5px 8px;
}

.searchpage ul.paging li.active{
 background: #f1f1f1;
 border: 1px solid black;
}

/*----------------------------
				Contact page
----------------------------*/

#contact{
	background : white;
	padding: 10px;
	border: 1px solid silver;
}

#contact h1{
	margin-top: 0;
}

#contact label{
	display: block;
	padding-top: 5px;	
}

#contact input.field{
	width: 200px;
}

#contact textarea{
	display: block;	
	overflow: auto;
	width: 75%;
	height: 150px;
	margin: 0;
}

/*----------------------------
			Syntax highlighter
----------------------------*/

.code
{
	font-size: 12px;
	color: black;
	font-family: Consolas, "Courier New", Courier, Monospace;
	background-color: #F1F1F1;
  line-height: normal;
}

.code p{
	padding: 5px;
}

.code .rem { color: #008000; }

.code .kwrd { color: #0000ff; }

.code .str { color: #006080; }

.code .op { color: #0000c0; }

.code .preproc { color: #0000ff; }

.code .asp { background-color: #ffff00; }

.code .html { color: #800000; }

.code .attr { color: #ff0000; }

.code .alt {	background-color: #f4f4f4; }

.code .lnum { color: #606060;}


/*----------------------------
						Menu
----------------------------*/

.imageCover
{
    border : solid 1px #cccccc;
    width : 98px;
    height : 75px;
    overflow: hidden;
    margin:0 auto;
}

.videoImg
{
    width : 90px;
    height : 67px;
    border : solid 4px #FFFFFF;
}

.videoTitle,.videoTitle a,.videoTitle a:hover
{
    width : 98px;
    overflow : hidden;
    color:#6d6d39;
    text-align:left;
    margin:0 auto;
    font-weight:normal;
}

#videoList{
	background: #F0F1F3;
	width : 270px;
	margin : 0 auto;
}


#videoList ul{
	list-style: none;
	margin : 0 auto;
	padding: 0;
	width: 270px;
}

#videoList ul li{
	display:inline;
	float : left;
	height : 120px;
	overflow : hidden;
	display: block;
	width: 135px;
	text-align:center
}

#videoList ul li a{
	font-size: 11px;
	text-align:left;
}


/******** Paging *********************************/

.paging
{
    width:100%;
    float:left;
    clear:both;
    margin-top:10px;
}

.paging ul
{
    color:#666666;
    padding: 0px;
    margin:0;
    text-decoration: none;
    clear:both
}


.paging ul li{
    display: inline;
    color:#6e6e61;
    float: left;
    padding: 2px;
    margin:0px;
    text-decoration: none;
    line-height:15px;
    height:15px;
    list-style-type:none;
    border-right:solid 1px #c0c0c0;
}

.paging ul li a.otherPage,.paging ul li a.nextPage,.paging ul li a.prePage
{
    color:#4696bc;
	float: left;
	padding: 2px;
	margin:0px;
	text-decoration: none;
	line-height:15px;
	height:15px;
	overflow :hidden;
}

.paging ul li a img
{
    background-position:left bottom;
}

.paging ul li a:hover{
color:#000000;
}

a.selectedPage
{
    color:#868639;
	float: left;
	padding: 2px;
	margin:0px;
	text-decoration: none;
	line-height:15px;
	height:15px;
	overflow :hidden;
	font-weight:bold;
}

/*--------------------------------
                    Widget Box
--------------------------------*/

.widget{
    width:300px;
    margin-bottom:10px;
    clear:both;
}

.widgetBox{
    background-color: #f0f1f3;
    width: 300px;
    margin: 0 auto;    
}

.wltop  { background: url(images/rt.jpg) no-repeat top left; }
.wlbot  { background: url(images/rb.jpg) no-repeat bottom left; }


.wltop, .wlbot {
	height: 9px;
	width: 300px;
	line-height:9px;
	display:block;
}
.wcontent  { margin: 0px; }

.wtitle
{
    color:#a1a3a7;
    padding-left:30px;
    background-image:url(images/vlogo.jpg);
    background-position:left;
    background-repeat:no-repeat;
    height:21px;
    line-height:21px;
    padding-top:3px;
    border-bottom: solid 1px #fff;
    font-size:12px;
    font-weight:bold;
    margin-bottom:5px;
    width: 249px;
    margin-left:10px;
    margin-right:10px;
}
/*--------------------------------*/


.share
{
    background: url(images/share.jpg) no-repeat center top;
    width:64px;
    height:20px;
    float:right;
}


/*--------------------------------------
                        breadcrums
---------------------------------------*/



#breadcrumbs ul
{
    list-style:none;
    padding:0px;
    margin:0px;
    font-size:12px;
    color:#555555;
}

#breadcrumbs ul li
{
    float:left;
    padding-right:5px;
    text-transform:capitalize;
    line-height:18px;
}

#breadcrumbs ul li a
{
    color:#555555;
    text-decoration:none;    
}

/*-----------------------------------
                    Admin Navigation
-----------------------------------*/
#adminNav
{
    width:280px;
    margin:0 auto;
}

#adminNav ul
{
    list-style:none;
    padding:0px;
    width: 280px;
    margin:0px auto;
    padding-left:5px;
    font-size:11px;
}

#adminNav ul li a
{
    color: #97999D;
    font-weight:normal;
}


#adminNav ul li{
    background-color:#f1f2f6;
    margin:2px;
    line-height:18px;
    padding-left:5px;
    font-size:12px;
}

/*------------------------------------
                        Comment stats
------------------------------------*/

.commentStats
{
    padding:2px;
}

.stats
{
    font-size:14px;
    font-weight:bold;   
}

.adminCommentStats 
{
    font-size:12px;
    margin-top:10px;
}


.adminStatsArrow
{
    background:url(images/arrow2.jpg) no-repeat left;
    margin-left:35px;
    height:16px;
    width:25px;
    line-height:16px;
    display:block;
}

.adminStatsBox
{
    background-color:#f1f2f6;
     padding:4px;
}

/*-----------------------------------
                        Subscribe
------------------------------------*/

#subscribeHeading, .searchform .heading
{
    padding-left:15px;
}

.searchform .heading{
    color: #000;    
    font-weight: bold;
}

.formContainer {
    padding-left: 15px;
}

#subscribeHeading a.subscribeTitle
{
    color:#5672a9;
    display:block;
    float:left;
    padding-bottom:3px;
    font-weight:bold;
}

#subscribeHeading img
{
    padding-top:1px;
    width:13px;
    height:12px;
    float:left;
    margin-right:5px;
}

#subscribe
{
    padding-top:10px;
    padding-left:35px;
    color:#5672a9;
}

#subscribe .input, .searchform .input
{
    width:200px;
    border:solid 1px #cccccc;
    margin-top:5px;
    margin-bottom:5px;
}

#subscribe .button, .searchform .button
{
    background-color:#5672a9;
    color:White;
    font-weight:bold;
    font-size:12px;
    line-height:16px;
    height:20px;
    border:solid 1px #ffffff;
    padding-bottom:6px;
    -padding:0px;
    width:94px;
}

.searchform .button {
       background-color:#000;
}
.send
{
    border:0px;
    background-color:#5672a9;
    color:White;
    font-weight:bold;
    font-size:12px;
    line-height:20px;
    height:20px;
    padding-bottom:4px;
    width:50px;
}

/*-----------------------------------
                    Ezines
-----------------------------------*/

#Ezines
{
    padding-left:30px;
    border-bottom: solid 1px #fff;
    margin-left:10px;
    width: 244px;
	-width:245px;
}

#Ezines img
{
    margin-right:10px;
    float:left;
    margin-left:-25px;
}

#Ezines .ezinesTitle
{
    color:#a1a3a7;
    float:left;
    padding-bottom:3px;
    font-weight: bold;

}

#Ezines ul 
{
    list-style:none;
    padding:0px;
    margin:0px;
}

.ezinesList{
	background: #F0F1F3;
	margin : 0 auto;
	width : 280px;
}


.ezinesList ul{
	list-style: none;
	margin : 0 auto;
	padding: 0;
	width: 274px;
	-width:280px;
	padding-top:5px;
}

.ezinesList ul li{
	display:inline;
	float : left;
	overflow : hidden;
	display: block;
	width: 127px;
	text-align:left;
	background-image:url(images/dot-line.jpg);
	background-position:bottom;
	background-repeat:repeat-x;
    color:#5672a9;
	padding-top:5px;
	padding-bottom:5px;
	margin:5px;
	
}

.ezinesList ul li a{
	font-size: 11px;
	text-align:left;
	color:#5672a9;
}

/*---------------------------------
                    socialBookmark
----------------------------------*/

.shareit
{
    line-height:25px;
    color: #5e82db;
    margin-right:10px;
    float:left;
    font-size:10px;
    width:48px;
}

/*-----------------------------------*/
#adPost1
{
    float:left;
    width:490px;
    color:#555555;
}
#adPost2
{
    width:336px;
    height:280px;
    margin: 5px 0px 0px 0px;
}

#adSide1
{
    width:280px;
    padding:5px;
    margin:0 auto;
}

#adSide2
{
    width:300px;
    margin:0 auto;
    margin:15px 0px 15px 0px;
    height:302px;
    background-image:url(images/ad2.jpg);
}

#adTitle
{
    color:#4e3535;
    font-family:Verdana;
    font-weight:normal;
    letter-spacing:2px;
    font-size:11px;
    -margin-top:7px;
    -margin-left:15px;
    padding:7px 0px 0px 15px;
    -padding:0px;
}

#adContent
{
    -margin-top:7px;
     padding:7px 0px 0px 0px;
    -padding:0px;
}

#adSide1 a,#adSide1 a:hover 
{
    font-weight:bold;
    color:#5672a9;
}

#adHome
{
    width:160px;
    margin:0 auto;
}

.adHome2
{
    width:336px;
    height:280px;
    float:left;
}

.adHome1
{
    float:left;
    width:490px;
    color:#555555;
}

.adPostBottom
{
   float:left;
   width:490px;
   padding: 5px 0px 10px 0px;
   color:#555555;
}

.adTopLeaderboard
{
    width:728px;
    height:90px;
    margin:0 auto;
    
}

.adHome1 a,.adHome1 a:hover,#adPost1 a,#adPost1 a:hover
{
    font-weight:bold;
    color:#4c96bc;
}
.adPostBottom a,.adPostBottom a:hover, #adHome a,#adHome a:hover, .adTopLeaderboard a,.adTopLeaderboard a:hover
{
    font-weight:bold;
    color:#0066CC;
}



.topAd
{
    padding:5px 0px;
    width:800px;
    border:solid 1px #d6d6d6;
    margin:0 auto;

}

.adContainer
{
    padding:20px 0px 20px 0px;
    margin:0 auto;
}

.laddwidget{
    width:180px;
    float:left;
}

.laddwidgetBox{
    background-color:#f0f1f3;
    width: 180px;
    margin: 0 auto;    
    margin-top:10px;
}

.laddwltop  { background: url(images/laddtop.jpg) no-repeat top left; }
.laddwlbot  { background: url(images/laddbottom.jpg) no-repeat bottom left; }


.laddwltop, .laddwlbot {
	height: 9px;
	width: 180px;
	line-height:9px;
	display:block;
}
.laddwcontent  { margin: 0px; }