
/* modifications to modal dialog used by page gate */

.PageGateModal {background:#FFF;border:1px solid #35afe8;padding:10px;width:470px;height:290px;}
.PageGateModalContent {padding:0px;margin:0px;}

.PageGateLegal {text-align:center;width:100%;color:#000;position:absolute;bottom:10px;left:0;}
.PageGateSubtitle {padding:0 80px 0 86px;color:#5e5e5e;margin:0;}
.PageGateButton {position:absolute;bottom:43px;left:87px;}

.PageGateModalContent2 {padding:0px;margin:0px;background:#d9e3ed url(../images/download_sl_bg_bottom.jpg) no-repeat bottom;position:relative;width:470px;height:265px;font-family:Arial, Helvetica, sans-serif;font-size:9pt;}
.PageGateModalContent2 p {line-height:140%;}
.PageGateModalContent2 img {display:block;border:none;}
/* links */
.PageGateModalContent2 a:link, 
.PageGateModalContent2 a:visited 	{color:#006198;text-decoration:underline;}
.PageGateModalContent2 a:hover 		{text-decoration:none;}
.PageGateModalContent2 a:active		{color:#006198;}


.PageGateModalMask
{
	opacity: .6;
	filter: alpha(opacity=60);
	background-color: #d1d1d1;
}

.PageGateModalTitle
{
	height: 25px;
	background-image :url(../images/download_sl_bg_top1.png);
	background-repeat: no-repeat;
/*	cursor: move;*/
}

.PageGateModalClose {position:absolute;top:20px;right:20px;}

.PageGateModalClose
{
	width: 15px;
	height: 15px;
	background-image: url(../images/download_sl_close.png);
	background-repeat: no-repeat;
	cursor: pointer;
}

.PageGateModalFooter, .PageGateModalResize
{
	display: none;
}